/*
Theme Name: Payo-Dacorp
Theme URI: http://www.payo-dacorp.com/
Author: Chester Alan
Author URI: https://www.chesteralan.com/
Description: Payo-Dacorp
Version: 1.0
*/

@import url(//fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100);

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  /* font: normal 14px arial,sans-serif; */
  font: 15px 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -64px;
  /* Pad bottom by footer height */
  padding: 0 0 64px;
}

/* Set the fixed height of the footer here */
#footer {
  height:64px;
  padding-top:20px;
  padding-bottom:20px;
}


/* Custom page CSS
-------------------------------------------------- */
header {
	padding: 20px 0 20px 0;
}
.site-branding {
	text-indent:-9999px;
}
.site-title a {
	background: url(images/logo2.jpg) no-repeat;
	height:158px;
	display:block;
	width:576px;
}
.site-description {
	position:absolute;
	left:-9999px;
}

header .rightbox {
	margin-top:35px;
}
header .tagline {
	font: bold 24px/1em 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #272d33;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-align:center;
}
header .phone {
  font: 800 45px/1em 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
  position: relative;
  text-align:center;
}

header .phone > span{
	color: #d80228;
  text-shadow: 1px 2px 2px #868686;
}

/* navbar */
.navbar-custom {
  background-color: #1464C8 /* #1C2025 */;
  border: none;
  margin-bottom:0;
}

.navbar-custom li a {
  position: relative;
  padding: 29px 0;
  font: 600 19px 'Raleway';
  color: #ffffff;
  text-transform: uppercase;
  background: none;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar-custom li {
  position: relative;
  font-size: 15px;
  line-height: 26px;
  padding: 0;
  margin: 0 0 0 46px;
}
.navbar-custom li:first-child {
	margin:0;
}
.navbar-custom .nav.navbar-nav li a {
	 color: #ffffff;
}
.navbar-custom .nav.navbar-nav > li > a:before {
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 7px;
  background: url(images/tr.png) center bottom no-repeat;
  content: '';
  display: none;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.navbar-custom .nav.navbar-nav > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: transparent;
  content: '';
}

.navbar-custom .nav.navbar-nav li.active > a:before,
.navbar-custom .nav.navbar-nav li.current-menu-parent > a:before {
  display: block;
}

.navbar-custom .nav.navbar-nav li:hover > a:before {
  display: block;
}
.navbar-custom .nav.navbar-nav li.active > a:after,
.navbar-custom .nav.navbar-nav li.current-menu-parent > a:after {
  background: /* #027FD8 */ #000;
}
.navbar-custom .nav.navbar-nav li:hover > a:after {
  background: /* #027FD8 */ #000;
}
.navbar-custom  .nav.navbar-nav > .active > a,
.navbar-custom  .nav.navbar-nav > .current-menu-parent > a { 
	background-color: #1464C8 /* #1C2025 */;
}

.navbar-custom .nav.navbar-nav>.open>a, 
.navbar-custom .nav.navbar-nav>.open>a:hover, 
.navbar-custom .nav.navbar-nav>.open>a:focus {
  background-color: #1464C8 /* #1C2025 */;
}
.navbar-custom .nav.navbar-nav li.dropdown ul > li {
	  margin: 0;
}
.navbar-custom .nav.navbar-nav li.dropdown ul > li > a {
	  padding: 15px 29px;
	  color:#000;
	  border-bottom: 1px #EDEDED solid;
}
.navbar-custom .nav.navbar-nav .dropdown-menu {
	padding:0;
	margin:0;
	border-top: none;
}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
  background-color: #027FD8;
}
.navbar-custom .nav.navbar-nav li.dropdown ul > li.active > a {
  color: #FFF;
}
#primary {
	margin-top:40px;
}

/* navbar-search
========================================================*/
.navbar-search {
	padding: 15px 0;
}
.navbar-search .form-control {
	border-radius: 0;
	border: none;
}
.navbar-search .btn {
	border-radius: 0;
	border: none;
	font-size: 16px;
}
/* homepage categories 
========================================================*/
.homepage-category {
	min-height:250px;
	border: none;
	position: relative;
}

.homepage-category > .panel-heading {
  background-color: transparent; 
  border: none; 
  position: relative;
  z-index: 1;
}
.homepage-category > .panel-heading > .panel-title  {
  overflow:hidden;
}
.homepage-category > .panel-heading > .panel-title > a {
  font: 900 55px/1em 'Raleway';
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0;
  z-index: 50;
  text-decoration:none;
  text-shadow: 3px 3px 3px #000;
  overflow:hidden;
}
.homepage-category > .gray {
	position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(images/gradient1.png) repeat-y;
  display: block;
  z-index: 0;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.homepage-category:hover > .gray {
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.homepage-category > .orange {
	position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(images/gradient3.png) repeat-y;
  display: block;
  z-index: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.homepage-category:hover > .orange {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.homepage-category.default {
	background: url(images/category1c.jpg) top no-repeat;
}
.homepage-category.default2 {
	background: url(images/category1c.jpg) top no-repeat;
}

/* Content Area 
========================================================*/
.content-area .page-title {
  font: 300 55px/1em 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0 0 22px 0;
  color: #027FD8;
}
.content-area h2.page-title {
	font-size:40px;
}
.content-area .page-title strong {
	font-weight: 900;
}

.content-area .sub-title {
	font: 300 30px/1em 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #027FD8;
}

.content-area .sub-title strong {
	font-weight: 900;
}

.content-area p,
.content-area li {
	line-height: 26px;
}
.content-area .thumbnail {
  position: relative;
    margin: 0 0 30px 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  background: none;
  overflow: hidden;
}
.content-area .thumbnail a {
	text-decoration:none;
}
.content-area .thumbnail a.thumbnail-link {
  height: 282px;
  overflow: hidden;
  display: block;
}
.content-area .thumbnail a:hover h3 {
	color: #027FD8;
}
.content-area .thumbnail .caption {
	  /* height: 190px; */
}
.page-header {
	border:none;
}
.page-header a {
	text-decoration:none;
}
.page-header a:hover .page-title {
	color:#CA1700;
}
.secondary {
	margin-top:40px;
}
/* Products */
.products .product-item .thumbnail {
	height:500px;
}
.hentry .entry-title {
	text-shadow:2px 2px 2px #969696;
}
.entry-footer .edit-link {
	position:absolute;
	bottom: 10px;
	right: 10px;
}
.entry-footer .edit-link a {
	color:red;
}
.employees .employee-item .thumbnail {
	height:400px;
}
/* contact-form 
========================================================*/
.contactform input[type='text'],
.contactform input[type='email'],
.contactform input[type='phone'],
.contactform textarea {
  width: 100%;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background: none;
  font: 15px/18px 'Raleway';
  height: 50px;
  color: #6a6d6f;
  padding: 15px;
  border-radius:0;
} 
.contactform textarea {
	height: 243px;
}

.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee!important;
  opacity: 1;
}

h3 {
  font: 30px/33px 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #272d33;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

/* archive-list */
.archive-list ul {
	margin: 0 0 23px 0;
  padding: 0;
  list-style: none;
}
.archive-list li {
  font-size: 15px;
  line-height: 1.428571429;
  margin: 0 0 1px 0;
  padding: 0 0 1px 0;
  font-size: 30px;
  color: #272d33;
  border-bottom: 1px solid #dadbdc;
  position: relative;
  display: block;
}

.archive-list li:before {
  position: absolute;
  left: 10px;
  top: 12px;
  background: none;
  content: "\e080" !important;
  font-family: 'Glyphicons Halflings';
  content: '';
  font-size:20px;
}

.archive-list li a {
  color: #d80228;
  font: 600 19px/1em 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background: transparent;
  padding: 17px 0 18px 46px;
  display: block;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  text-decoration:none;
}
.archive-list li.active a {
	background: #d80228;
	color: #ffffff;
}
.archive-list li.active {
	color: #ffffff;
}
.archive-list li:hover a {
	color: #ffffff;
	background: #d80228;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.archive-list li:hover {
	color: #ffffff;
}
/* contacts box 
========================================================*/
#contacts-box {
	margin-top:40px;
	padding: 53px 0 60px 0;
	overflow: hidden;
	background: #0A52AD;
}
#contacts-box .title {
	font: 900 55px/1em 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 43px;
}
#contacts-box p {
	color: #ffffff;
	margin-bottom: 15px;
	line-height: 15px;
}
#contacts-box p strong {
  font-size: 17px;
  text-transform: uppercase;
  color: #FF6100;
  font-weight: bold;
  width:30%;
  display:inline-block;
}
#contacts-box p span {
	width:69%;
  display:inline-block;
}
#contacts-box p a{
	color:#FFF;
}
/* map
========================================================*/
.content_map {
	position: relative;
	height: 300px;
}
.google-map-api {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#map-canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#map-canvas img {
	max-width: none !important;
}
.gm-wrapper div:first-child div + div + div + div {
	background-color: transparent !important;
	background-color: #000 !important;
	background-color: rgba(0, 0, 0, 0.7) !important;
}
.gm-wrapper * {
	box-shadow: 0 0 0 #000 !important;
	background-color: transparent !important;
}
.gm-wrapper * p {
	color: #ffffff;
	font-size: 14px;
}
.gm-style-iw {
	text-align: center;
	width: 330px !important;
	height: 157px !important;
	right: 0;
	position: absolute;
	left: 0 !important;
	top: 0 !important;
	color: #ffffff;
	padding: 30px 0 0 20px;
	font: 15px 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	overflow: visible !important;
}
.gm-style-iw:after {
	content: '';
	width: 0;
	height: 0;
	top: 100%;
	margin-top: 17px;
	left: 50%;
	margin-left: 5px;
	border-style: solid;
	border-width: 25px 15px 0 15px;
	border-color: #000000;
	border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
	position: absolute;
}
.gm-style-iw span {
	font-weight: bold;
	display: block;
	font-size: 18px;
	color: #ffffff;
}
.info {
	margin-bottom: 50px;
}
.info p {
	margin-bottom: 25px;
}
.mail {
	color: #34aed6;
	font: 15px 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: underline;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.mail:hover {
	color: #272d33;
	text-decoration: underline;
}
/* map
========================================================*/
#footer { 
	background-color: #11417E;
	font: 12px 'Raleway';
	color: #6a6d6f;
	position:relative;
}
#footer a {
	color: #6a6d6f;
}
#footer a:hover {
	text-decoration:none;
}

#footer .webdev a {
	/* opacity: 0.2; */
	position:absolute;
	right:10px;
	top:0;
}
#footer .webdev a:hover {
	opacity: 1;
}

/* Video */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* social-media */
.social-media {
	list-style:none;
	margin:0;
	padding:0;
}
.social-media li {
	display:inline-block;
	width:48px;
	height:48px;
}
.social-media li a {
	display:block;
	text-indent:-9999px;
	width:48px;
	height:48px;
}
.social-media .facebook {
	background:url(images/social/fb.png);
}
.social-media .youtube {
	background:url(images/social/youtube.png);
}
.social-media .google {
	background:url(images/social/google.png);
}
.social-media .twitter {
	background:url(images/social/twitter.png);
}

img.alignleft {
	float:left;
	padding:0 20px 20px 0;
}
img.aligncenter {
	clear:both;
	display:block;
	margin:0 auto 20px;
}
img.alignright {
	float:right;
	padding:0 0px 20px 20px;
}
img.alignnone {
	clear:both;
	display:block;
	margin-bottom:20px;
}
.page-header .entry-meta span {
  padding: 0 15px;
}
.page-header .entry-meta span:first-child {
  padding-left:0;
}
.page-header .entry-meta a {
  color: #797979;
  text-decoration:none;
  font-weight:bold;
}
.entry-content a.more-link {
	display: block;
	margin-top: 10px;
	text-align: right;
  }
 
@media only screen 
and (max-device-width : 768px)  {
	.site-title a {
	  background: url(images/logo2.jpg) no-repeat;
	  height: 158px;
	  display: block;
	   width: 100%;
	   overflow:hidden;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, 
	.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover, 
	.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #fff;
		background-color: #027FD8;
	}
	
}

@media only screen 
and (max-device-width : 736px) {
	
	.navbar-custom li,
	.navbar-custom li:first-child 
  	{
		  margin: 0 10px;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #fff;
	}
	.navbar-custom .nav.navbar-nav li.dropdown ul > li > a {
		font-size:15px;
		  padding: 10px;
	}	

	.navbar-custom li:first-child {
		 margin: 0;
	}
	.navbar-custom li {
		 margin: 0;
	}
	.navbar-custom li a {
		 padding: 20px;
	}
	.navbar-custom .nav.navbar-nav > li > a:before {
	  background: none;
	}
	
	.navbar-custom .navbar-brand a {
		color:#FFF;
	}

}

@media only screen 
and (max-device-width : 667px) {
	.site-title a {
	  background: url(images/logo2.jpg) no-repeat;
	  height: 158px;
	  display: block;
	  width: 100%;
	  overflow:hidden;
	}
	
	.content-area .page-title {
		font-size: 28px;
	}
	.navbar-custom li,
	.navbar-custom li:first-child 
  	{
		  margin: 0 10px;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #fff;
	}
	.navbar-custom .nav.navbar-nav li.dropdown ul > li > a {
		font-size:15px;
		  padding: 10px;
	}	

	.navbar-custom li:first-child {
		 margin: 0;
	}
	.navbar-custom li {
		 margin: 0;
	}
	.navbar-custom li a {
		 padding: 20px;
	}
	.navbar-custom .nav.navbar-nav > li > a:before {
	  background: none;
	}
	
	.navbar-custom .navbar-brand a {
		color:#FFF;
	}
}

@media only screen 
and (max-device-width : 375px) {
	.site-title a {
	  background: url(images/logo2.jpg) no-repeat;
	  height: 158px;
	  display: block;
	  width: 100%;
	  overflow:hidden;
	}
	
	.content-area .page-title {
		font-size: 28px;
	}
	#contacts-box .title { 
		font-size: 40px;
	}
	
	
	.navbar-custom li,
	.navbar-custom li:first-child 
  	{
		  margin: 0 10px;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #fff;
	}
	.navbar-custom .nav.navbar-nav li.dropdown ul > li > a {
		font-size:15px;
		  padding: 10px;
	}	

	.navbar-custom li:first-child {
		 margin: 0;
	}
	.navbar-custom li {
		 margin: 0;
	}
	.navbar-custom li a {
		 padding: 20px;
	}
	.navbar-custom .nav.navbar-nav > li > a:before {
	  background: none;
	}
	
	.homepage-category > .panel-heading > .panel-title > a  {
	  font-size:40px;
	}
}

/* iPad in portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	/* STYLES GO HERE */
	.homepage-category > .panel-heading > .panel-title > a {
		font-size:45px;
	}
}

/* iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
	/* STYLES GO HERE */
	.site-title a {
	  background: url(images/logo2_2.jpg) no-repeat;
	  width: 423px;
	}
}

/* iPad in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
	/* STYLES GO HERE */
	.site-title a {
	  background: url(images/logo2_3.jpg) no-repeat;
	  width: 690px;
	  height:189px;
	}
	.navbar-search {
		display:none;
	}
 }

 /* iPhone 2G-4S in portrait & landscape */
 @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
	/* STYLES GO HERE */
	.site-title a {
	  background: url(images/logo3.jpg) no-repeat;
	  width: 260px;
	  height:260px;
	  display:block;
	  margin:0 auto;
	}
	header .phone {
		font-size: 30px;
	}
	
}

/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
		
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
		.navbar-custom .nav.navbar-nav li a {
			  font-size:15px;
			}
		
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		.navbar-custom li a {
		  padding: 15px 30px;
		}
		.navbar-custom li {
		  margin: 0;
		}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
		.navbar-custom li a {
		  padding: 20px;
		}
		.navbar-custom li {
		  margin: 0;
		}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }